// BREAKPOINTS

$tablet:  768px;
$desktop: 1024px;

// COLORS

$red: #ff0d13;
$yellow: #ffffd5;
$dark-grey: #3a3a3a;
$link-blue: #477cb8;
$solid-blue: #1026ef;
$purple: #6b068c;
$green: #c0fbbf;
$light-red: #ffb0ae;
