@import "mixins";
@import "reset";

// PARTIALS

@import "vars";
@import "base";
@import "z-index";

// COMPONENTS

// SECTIONS
html {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;

  background-color: white;
}

/*=====HEADER=====*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;

  font-size: 30px;
  font-weight: bold;
  text-align: center;

  padding: 30px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

header span {
    color: #ff0d13;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;

  background: none;
  border: none;
  cursor: pointer;
}
.active-nav {
  color: #ff0d13;
}

/*=====INTRO SCREEN=====*/
.intro-screen {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;

  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  transition-duration: 0.6s;
}

.intro-screen p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-screen button {
  font-size: 20px;
  text-align: center;

  padding: 12px;

  margin-top: 80px;

  transition-duration: 0.3s;
}
    .intro-screen button:hover {
     background-color: #ffffd5;
    }

/*=====CONTENT and CONTAINERS=====*/

.content {
  display: flex;
  justify-content: center;
}

.content-grid {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;

  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  transition-duration: 0.6s;
}

    .move-left {
      transform: translate(-200%);
    }

    .move-right {
      transform: translate(200%);
    }

/*=====ARTICLE STYLING=====*/

.article-grid {
  display: flex;

  width: 49%;
  max-height: 220px;

  padding: 12px;
  margin-bottom: 20px;

  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);

  transition-duration: 0.3s;
}
    .article-grid:hover {
      opacity: 0.6;
    }
    .article-grid:hover > .article-content > .article-title {
      color: #6b068c;
    }

.article-image {
  display: flex;
  align-items: center;
  width: 50%;

  margin-right: 16px;
}

.article-image img {
  width: 100%;
  height: auto;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.article-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;

  transition-duration: 0.3s;
}
.article-body {
  color: #3a3a3a;
  font-size: 14px;
  margin-bottom: 10px;
}
.article-time {
  font-size: 12px;
  color: #477cb8;
}

/*=====FOOTER=====*/
footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;

  padding: 20px;

  margin-left: auto;
  margin-right: auto;

  font-size: 12px;

  background-color: white;

  z-index: 5;
}
footer a {
  transition-duration: 0.3s;
}
footer a:hover {
  color: #1026ef;
}

.edit-view {
	font-size: 12px;
	background-color: #c0fbbf;

  margin-right: 30px;
}
.remove-view {
	font-size: 12px;
	background-color: #ffb0ae;

  margin-right: 30px;
}

.favorites {
  font-size: 12px;
  background-color: #ffffd5;
}

/*=====MODAL=====*/
.modal {
  position: fixed;
  top:0;
  left:0;
  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);

  z-index: 10;
}
.source {
  width: 100%;

  font-size: 16px;
  padding: 14px 18px;

  cursor: pointer;

  transition-duration: 0.3s;
}

.modal-container {
  display: flex;
  justify-content: space-between;

  width: 70%;
  height: auto;
  max-height: 90%;

  margin: 50px auto;

  background-color: white;
}
.modal-content {
  display: flex;
  flex-direction: column;

  width: 40%;

}
.modal-selections {
  display: flex;
  flex-direction: column;

  width: 60%;

  padding: 0px 20px 20px 20px;
}
.modal-selections h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal-selections input {
  margin-top: 10px;

  font-size: 14px;

  border: 1px solid grey;
}
.accordian {
  width: 100%;

  padding: 18px 0;

  font-size: 18px;
  text-align: center;

  border: none;
  outline: none;

  cursor: pointer;

  background-color: #eee;

  transition: 0.3s;
}
    .accordian:hover {
      background-color: #ccc;
    }

.panel {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.4s ease;
}
	.panel p:hover {
      	background-color: #c0fbbf;
    	}
  .panel-active {
    max-height: 600px;
    overflow: scroll;
  }

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  margin-top: 40px;
}
.modal-buttons button {
  padding: 10px;
  margin-right: 16px;

  font-size: 16px;
}
.add-selections {
  background-color: #c0fbbf;
}
.cancel {
  background-color: #ffb0ae;
}
.selections {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
.selections .selected {
  width: 50%;

  padding: 16px 0;

  font-size: 16px;
  text-align: center;

  cursor: pointer;

  color: #1026ef;

  transition-duration: 0.3s;
}
    .selections .selected:hover {
      color: #ff0d13;
      background-color: #eee;
      text-decoration: line-through;
    }
.instructions1 {
  font-size: 14px;
  font-weight: bold;

  padding: 18px;
}
.instructions2 {
  font-size: 14px;
  font-weight: bold;

  padding:14px 14px 14px 0px;
}
