footer {
  position: fixed;
  bottom: 0;
  left:0;
  right:0;

  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;

  padding: 20px;

  margin-left: auto;
  margin-right: auto;

  font-size: 12px;

  background-color: white;

  z-index: 5;
}

footer a {
  transition-duration: 0.3s;
}

    footer a:hover {
      color: $solid-blue;
    }

.edit-view {
  margin-right: 30px;

	font-size: 12px;
	background-color: $green;
}

.remove-view {
  margin-right: 30px;

	font-size: 12px;
	background-color: $light-red;
}

.favorites {
  font-size: 12px;
  background-color: $yellow;
}
